In [10]:
import pandas as pd
import json

# Load the JSON data from the file
with open('output.json') as file:
    data = json.load(file)

# Extract the "IMDB" data from the loaded JSON
imdb_data = data['IMDB']

# Create a DataFrame from the "IMDB" data
df = pd.DataFrame(imdb_data)

# Print the DataFrame
df

,Movie_id,Title,Rating,TotalVotes,MetaCritic,Budget,Runtime,CVotes10,CVotes09,CVotes08,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,VotesIMDB,Votes1000,VotesUS,VotesnUS
0,36809,12 Years a Slave (2013),8.1,496092,96,20000000.0,134 min,75556,126223,161460,...,8.0,7.9,8.0,7.8,7.8,8.1,8.0,7.7,8.3,8.0
1,30114,127 Hours (2010),7.6,297075,82,18000000.0,94 min,28939,44110,98845,...,7.5,7.5,7.5,7.3,7.3,7.5,7.6,7.0,7.7,7.6
2,37367,50/50 (2011),7.7,283935,72,8000000.0,100 min,28304,47501,99524,...,7.6,7.6,7.6,7.4,7.4,7.5,7.4,7.0,7.9,7.6
3,49473,About Time (2013),7.8,225412,,12000000.0,123 min,38556,43170,70850,...,7.6,7.6,7.7,7.6,7.5,7.8,7.7,6.9,7.8,7.7
4,14867,Amour (2012),7.9,76121,94,8900000.0,127 min,11093,15944,22942,...,7.7,7.7,7.9,7.9,7.8,8.1,6.6,7.2,7.9,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,38262,Whiplash (2014),8.5,492285,88,3300000.0,107 min,110404,161864,132656,...,8.3,8.3,8.2,8.1,8.1,8.2,8.7,8.0,8.6,8.4
113,10023,Wreck-It Ralph (2012),7.7,295125,72,165000000.0,,41980,50262,96477,...,7.6,7.6,7.7,7.4,7.4,7.5,7.4,7.2,7.9,7.6
114,27783,X-Men: Days of Future Past (2014),8.0,560736,74,200000000.0,132 min,91765,127521,183578,...,7.8,7.8,8.0,7.7,7.7,7.9,7.5,7.4,8.1,7.9
115,42294,X-Men: First Class (2011),7.8,556713,65,160000000.0,132 min,64428,96219,200144,...,7.7,7.6,7.8,7.6,7.5,7.7,7.6,7.3,7.8,7.7
116,32217,Zootopia (2016),8.1,309474,78,150000000.0,108 min,53626,70912,102352,...,7.8,7.8,8.1,7.8,7.8,8.1,7.7,7.6,8.0,8.0

In [11]:
# all keys from output.json
data.keys()

dict_keys(['IMDB', 'earning', 'genre'])

In [12]:
pd.DataFrame(data['genre'])

    Movie_id      genre
0      36809  Biography
1      30114  Adventure
2      37367     Comedy
3      49473     Comedy
4      14867      Drama
..       ...        ...
346    38262
347    10023     Comedy
348    27783     Sci-Fi
349    42294     Sci-Fi
350    32217     Comedy

[351 rows x 2 columns]

In [13]:
# Load the IMDB, earning, and genre data from the JSON file
imdb_data = data['IMDB']
earning_data = data['earning']
genre_data = data['genre']

# Create DataFrames for each dataset
imdb_df = pd.DataFrame(imdb_data)
earning_df = pd.DataFrame(earning_data)
genre_df = pd.DataFrame(genre_data)

# Display the columns of each DataFrame
print("IMDB DataFrame columns:")
print(imdb_df.columns)

print("\nEarning DataFrame columns:")
print(earning_df.columns)

print("\nGenre DataFrame columns:")
print(genre_df.columns)

IMDB DataFrame columns:
Index(['Movie_id', 'Title', 'Rating', 'TotalVotes', 'MetaCritic', 'Budget',
       'Runtime', 'CVotes10', 'CVotes09', 'CVotes08', 'CVotes07', 'CVotes06',
       'CVotes05', 'CVotes04', 'CVotes03', 'CVotes02', 'CVotes01',
       'CVotesMale', 'CVotesFemale', 'CVotesU18', 'CVotesU18M', 'CVotesU18F',
       'CVotes1829', 'CVotes1829M', 'CVotes1829F', 'CVotes3044', 'CVotes3044M',
       'CVotes3044F', 'CVotes45A', 'CVotes45AM', 'CVotes45AF', 'CVotes1000',
       'CVotesUS', 'CVotesnUS', 'VotesM', 'VotesF', 'VotesU18', 'VotesU18M',
       'VotesU18F', 'Votes1829', 'Votes1829M', 'Votes1829F', 'Votes3044',
       'Votes3044M', 'Votes3044F', 'Votes45A', 'Votes45AM', 'Votes45AF',
       'VotesIMDB', 'Votes1000', 'VotesUS', 'VotesnUS'],
      dtype='object')

Earning DataFrame columns:
Index(['Movie_id', 'Domestic', 'Worldwide'], dtype='object')

Genre DataFrame columns:
Index(['Movie_id', 'genre'], dtype='object')